section {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 40rem;
    height: fit-content;
    border: 5px solid black;
    border-radius: 15px;
    margin-top: 1rem;
}

.profilePicture {
    margin: 1rem;

    img {
        border-radius: 15px;
    }
}

.bio {
    margin-top: 1rem;

    li {
        margin-bottom: 2rem;
    }
}

.userDetails {
    margin-left: 1rem;

    li {

        margin-bottom: 1rem;
    }
}

.editBtn {
    display: flex;
    justify-content: end;
    margin: 1rem;
    button {
        text-align: center;
        border: 5px solid black;
        border-radius: 15px;
        width: 6rem;
        height: 2rem
    }
}