.search-container {
    color: rgb(201, 201, 201);
}

.search-bar-input input { 
    margin-right: 1rem;
    width: 25%;
    border-radius: 10px;
    background-color: transparent;   
    border: 1px solid rgb(180, 180, 180);
}

.search-bar-input input:hover {
    box-shadow: 0px 0px 10px 5px rgb(2, 117, 102);
}

.search-bar-input input:focus {
    border: 1px solid rgb(2, 117, 102);
    box-shadow: none;
}

.search-button {
    border: 1px solid white;
    border-radius: 10px;
    width: 5rem;
    background-color: rgba(143, 143, 143, 0.5);
    transition: all 0.3s ease-in-out;
}

.search-button:hover {
    background-color: rgba(143, 143, 143, 1);;
}