/* .carousel-container {
    position: relative;
    text-align: center;
  }
  
  .carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-navigation button {
    margin: 0 5px; 
  }
   */

  .featured-component { 
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
  }

  .profile-pic-container {
    width: 25%
  }
