/* .carousel-container {
    position: relative;
    text-align: center;
  }
  
  .carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-navigation button {
    margin: 0 5px; 
  }
   */