  .featured-component { 
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
  }

    .card-header {
    padding: 0.6rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
  }

  .carousel-item img {
    width: 300px;
    height: auto;
    object-fit:contain;
    background-color: rgba(0, 0, 0, 0.445);
    
  }